.espaco-expanded {  
  border-radius: 1px;
  border: 1px solid gray;
  background-color: white;
  width: fit-content; height: fit-content;
  display: flex;
  justify-content: center;
  padding: 80px 50px;
  min-width: 600px;
  min-height: 500px;
  flex-direction: column;
}
.espaco-expanded h2 {
  font-size: 45px;
  color: #5E574D;
}
.horario-div h3 {
  font-size: 30px;
  margin-top: 30px;
  color: #2d2a25;
}
.horario-div form {
  width: 80%;
}
.horario-div form input[type="date"] {
  height: 100%;
  font-size: 15px;
  padding: 0 10px;
  margin-right: 10px;
}
.horario-msg {
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin: auto;
}
.horario-wrapper {
  width: 99%;
}
.horario-wrapper h4 {
  font-style: italic;
}
.adicionar-horario-form .input-row label {
  font-size: 18px;
  font-weight: bold;
  color: #474747;
}
.espaco-expanded .endereco {
  font-size: 20px;
}

.horario-div .horario {
  margin-top: 10px;
  display: flex;
  height: 60px;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  justify-content: space-around;
}
.exibir-horarios {
  margin-top: 20px;
  min-height: 100px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: scroll;
}
.horario form button[type="submit"] {
  cursor: pointer;
  background: none;
  border: none;
}
.horario form button[type="submit"]:hover {
  filter: invert(50%)
}
.lapis {
  cursor: pointer;
  background: none;
  height: 20px;
  border: none;
}
.dados-form {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-around;
}
.lapis:hover img {
  filter: invert(50%)
}
.lapis img {
  height: 100%;
}

.enviar-div {
  align-self: center;
}

.dados-form .input-row {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.dados-form label {
  font-size: 18px;
}
.horario {
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .espaco-expanded {
    min-width: 0;
    min-height: 600px;
    width: 90%; height: 80%;
  }
  .adicionar-horario-form {
    height: 150px !important;
    margin-top: 10px;
    flex-direction: column;
  }
  .exibir-horarios {
    min-height: 150px;
  }
  .adicionar-horario-form .input-row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
  }
  .adicionar-horario-form .input-row input {
    width: 60%;
  }
  .adicionar-horario-form input[type="submit"] {
    min-height: 30px !important;
  }
  .adicionar-horario-form .input-row label {
    display: inline-block;
    font-size: 18px;
    text-align: left;
    width: 70px;
  }
  .espaco-expanded h2 {
    font-size: 40px;
  }
  .input-row {
    max-height: fit-content;
    width: fit-content
  }
  .enviar-div {
    display: block;
    width: 100%;

    text-align: center;
    
  }
  .dados-form input[type="date"] {
    min-width: 0;
  }
  .espaco-expanded h3 {
    font-size: 25px;
  }
  .horario {
    height: 150px !important;
    flex-direction: column;
  }
  .buttons-div {
    width: 100%;
    height: 5px;
    justify-content: space-between;
  }
  .buttons-div * {
    margin: 0 10px;
  }
  .dados-form {
    flex-wrap: wrap;
    width: 100%;
  }
  .dados-form input {
    height: 30px !important;
  }
  .espaco-expanded .endereco {
    font-size: 18px;
  }
  .enviar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 18px;
    
    justify-content: center;
  }
  .enviar-div {
    display: flex;
    height: 30px !important;
    font-size: 18px !important;
  }
}
.buttons-div {
  display: flex;
}
.enviar-div button {
  font-size: 18px;
  font-weight: bold;
}
.buttons-div * {
  margin-right: 10px;
}