.formulario-padrao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .formulario-padrao form input {
  width: 100%;
  font-size: 15px;
  color: #343434;
  font-weight: bold;
  height: 40px;
  padding-left: 10px;
}
.formulario-padrao form .input-row {
  width: 100%;
}
body .formulario-padrao form input[type="submit"] {
  border: none;
  outline: none;
  font-weight: bolder;
  font-size: 15px;
  padding: 0;
  background-color: #BCD979;
  align-self: center;
}
body .formulario-padrao form input[type="submit"]:hover {
  background-color: #9DAD6F;
}
.error-message {
  width: 100%;
  text-align: center;
  
}
.check-row {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.check-row input[type="checkbox"] {
  width: 25px;
  margin-right: 10px;
}
body .formulario-padrao h1 {
  font-size: 50px;
  text-align: center;
}

a {
  color: #535b3c;
}
body .formulario-padrao p {
  margin-top: 30px;
  font-size: 18px;
}

body .formulario-padrao form label {
  font-size: 18px;
}

body .formulario-padrao form {
  display: flex;
  width: 80%; height: 60%;
  align-items: baseline;
  justify-content: space-around;
  flex-direction: column;
}

.formulario-padrao {
  background-color: white;
  box-shadow: 1px 1px 2px 2px #5E574D;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%; height: 45%;
  min-width: 450px;
}
