body {
  width: 100vw; height: 100vh;
}

main {
  position: relative;
  width: 100%; height: 100%;
  display: flex;
}

.left-panel {
  width: 30%; min-width: 400px;
  background-color: #7D6D61;
  transition: width 1000ms ease-in-out;
}

.hamburguer img {
  width: 50px;
}

.hamburguer {
  z-index: 3;
  position: absolute;
  margin: 10px;
  font-weight: bolder;
  background: none;
  border: none;
}
.hamburguer:hover {
  filter: invert(80%);
}

.alugueis {
  display: flex;
  flex-direction: column;
  width: 100%; height: 100%;
}

.alugueis .top-section {
  display: flex;
  align-items: center;
  margin-top: 3%;
  height: 15%; width: 100%;
}

.disabled {
  display: none;
}

.alugueis .top-section .pesquisar-div {
  min-width: 400px;
  width: 30%;
}


.pesquisar {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  height: 40px;
  margin-left: 10%;
  font-size: 18px;
}
@media only screen and (max-width: 800px) {
  .left-panel {
    position: absolute;
    width: 100%; height: 100%;
  }
  .top-section {
    justify-content: center;
  }
  .pesquisar {
    margin-left: 0;
  }
}

.espacos-div {
  margin-top: 5%;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%; height: 70%;
  overflow-y: scroll;
}

.espaco {
  margin-bottom: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  width: 40%; height: 40%;
  min-width: 400px;

}