body {
  background-image: url(../bg.png);
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat';
  width: 100vw; height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  body main {
    height: 80%;
    width: 90%;
  }
}
